{% extends 'SonataDoctrineORMAdminBundle:Form:form_admin_fields.html.twig' %}

{% block field_row %}
{% if sonata_admin is defined and not sonata_admin_enabled %}
<div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
    {{ block ('label') }}

    <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">

        {{ form_widget(form) }}

        {% if errors|length > 0 %}
        <div class="help-inline sonata-ba-field-error-messages">
            {{ form_errors(form) }}
        </div>
        {% endif %}
    </div>
</div>
{% else %}
{% if sonata_admin is not defined or not sonata_admin_enabled or not sonata_admin.field_description %}
{{ form_label(form, label|default(null)) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
{% else %}
<div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
    {{ block ('label') }}

    <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }} {% if errors|length > 0 %}sonata-ba-field-error{% endif %}">

        {{ form_widget(form) }}

        {% if errors|length > 0 %}
        <div class="help-inline sonata-ba-field-error-messages">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        {% if sonata_admin.field_description.help %}
        <span class="help-block sonata-ba-field-help">{{ sonata_admin.field_description.help }}</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endif %}
{% endblock field_row %}

{% block location_row %}
{#% set attr = attr|merge({'data-prototype': block('collection_widget_row') }) %#}
{% if sonata_admin is not defined or not sonata_admin_enabled or not sonata_admin.field_description %}
{{ form_row(form) }}
{% else %}
<div class="control-group{% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
        {{ form_widget(form) }}

        {% if errors|length > 0 %}
        <div class="help-inline sonata-ba-field-error-messages">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        {% if sonata_admin.field_description.help %}
        <span class="help-block sonata-ba-field-help">{{ sonata_admin.field_description.help }}</span>
        {% endif %}
</div>
{% endif %}
{% endblock location_row %}