{% if A04283ISumPrev or A06AIBSumPrev %}

<table cellpadding="0" cellspacing="0" border="1">
	<thead>
    <tr>
    	<td>&nbsp;</td>
    	<td class="th_nett o_nett">{{ "ApplicationSonataClientOperationsBundle.declaration.th.nett"|trans() }}</td>
    	<td class="th_tva o_tva">{{ "ApplicationSonataClientOperationsBundle.declaration.th.tva"|trans() }}</td>
    </tr>
	</thead>	

    <tbody>
    <tr>
        <td class="o_title">{{ "ApplicationSonataClientOperationsBundle.exports.A04283I.title"|trans() }}</td>
        <td class="o_nett">{% if A04283ISumPrev %}{{ A04283ISumPrev.getHT|number_format(0, ',', ' ') }}{% endif %}</td>
        <td class="o_tva">{% if A04283ISumPrev %}{{ A04283ISumPrev.getTVA|number_format(0, ',', ' ') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="o_title">{{ "ApplicationSonataClientOperationsBundle.exports.A06AIB.title"|trans() }}</td>
        <td class="o_nett">{% if A06AIBSumPrev %}{{ A06AIBSumPrev.getHT|number_format(0, ',', ' ') }}{% endif %}</td>
        <td class="o_tva">{% if A06AIBSumPrev %}{{ A06AIBSumPrev.getTVA|number_format(0, ',', ' ') }}{% endif %}</td>
    </tr>
    </tbody>
</table>
{% endif %}