{% if RulingNettTotal or RulingVatTotal %}
<table cellpadding="0" cellspacing="0" border="0">
	<thead>
    <tr>
    	<td>&nbsp;</td>
    	<td class="th_nett o_nett">{{ "ApplicationSonataClientOperationsBundle.declaration.th.nett"|trans() }}</td>
    	<td class="th_tva o_tva">{{ "ApplicationSonataClientOperationsBundle.declaration.th.tva"|trans() }}</td>
    </tr>
	</thead>
    <tbody>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.total"|trans() }}</td>
        <td class="nett">{{ RulingNettTotal|number_format(0, ',', ' ') }}</td>
        <td class="vat">{{ RulingVatTotal|number_format(0, ',', ' ') }}</td>
    </tr>
    </tbody>
</table>
{% endif %}