{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {% set notice_level  = 'error' %}
    {% set session_var = 'sonata_flash_' ~ notice_level %}
    {% for flash in app.session.flashbag.get(session_var) %}
        <div class="alert {{ 'alert-' ~ notice_level }}">
            {{ flash|trans([], 'SonataAdminBundle') }}
        </div>
    {% endfor %}

    {{ parent() }}

    {# focus first element #}
    {% block form_js %}
        {% if app.request.isxmlhttprequest is empty %}
            <script type="text/javascript">
                $(function () {
                    $('form input[type="text"], form select').first().focus();
                });
            </script>
        {% endif %}
    {% endblock form_js %}
    {# end focus first element #}

{% endblock form %}


{% block formactions %}
<div class="well form-actions">
    {% if app.request.isxmlhttprequest %}
    {% if admin.id(object) %}
    
       
    {% if admin.supportsPreviewMode %}
    	{# do nothing. just to hide edit/update button. #}
    {% else %}
    	<input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
    {% endif %}
    
    
    
    {# add button delete for ajax #}
    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
    <a class="btn btn-warning" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
    {# end button delete for ajax #}
    {% endif %}
    {% else %}
    <input type="submit" class="btn btn-primary" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
    {% endif %}
    {% else %}
    {% if admin.supportsPreviewMode %}
    <input class="btn btn-info persist-preview" name="btn_preview" type="submit" value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
    {% endif %}
    {% if admin.id(object) %}
    <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
    <input type="submit" class="btn btn-primary" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>

    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
    {% endif %}
    {% else %}
    <input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
    <input class="btn btn-primary" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
    {% endif %}
    {% endif %}
</div>
{% endblock formactions %}