{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% use 'ApplicationSonataClientBundle:CRUD:form_tabs.html.twig' with form_tabs as formTabs %}

{% block title %}
{{ 'Initialisation' }}
{% endblock title %}

{% block sonata_admin_content %}


<div class="sonata-ba-form sonata-ba-list">
    {% block initialimport_content %}
    {% endblock initialimport_content %}
</div>
{% endblock sonata_admin_content %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonataclient/css/client.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    var active_tab = '';
</script>
<script src="{{ asset('bundles/applicationsonataclient/js/client.js') }}" type="text/javascript"></script>
{% endblock javascripts %}


{% block javascriptsafter %}
{{ parent() }}
{% endblock javascriptsafter %}
