<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.tva"|trans() }}</td>
        <td class="balance_value">0,00 €</td>
        <td class="balance_type">A</td>
    </tr>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.additional_taxes"|trans() }}</td>
        <td class="balance_value">0,00 €</td>
        <td class="balance_type">A</td>
    </tr>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.account_balance"|trans() }}</td>
        <td class="balance_value">0,00 €</td>
        <td class="balance_type">C</td>
    </tr>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.total"|trans() }}</td>
        <td class="balance_value">0,00 €</td>
        <td class="balance_type">on {{ "now"|date('d/m/Y') }}</td>
    </tr>
    </tbody>
</table>