<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.tva"|trans() }}</td>
        <td class="balance_value">{{ SoldeTVATotal|number_format(2, ',', ' ') }} €</td>
        <td class="balance_type">A</td>
    </tr>
    
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.additional_taxes"|trans() }}</td>
        <td class="balance_value">{% if client.getTaxeAdditionnelle %} {{ rapState.getCreditTvaAReporter|number_format(2, ',', ' ') }}{% else %} 0,00 {% endif %} €</td>
        <td class="balance_type">B</td>
    </tr>
    
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.account_balance"|trans() }} (0 &lt; DUE TO US)</td>
        <td class="balance_value">{{ client.CompteReelSum|number_format(2, ',', ' ') }} €</td>
        <td class="balance_type">C</td>
    </tr>
    <tr>
    	<td colspan="3"><table class="balance_separator">
    	<tr><td></td></tr>
    	</table></td>
    </tr>
    <tr>
        <td class="balance_title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance.total"|trans() }} (A + B + C)</td>
        <td class="balance_value">{{ TotalBalance|number_format(2, ',', ' ') }} €</td>
        <td class="balance_type">on {{ "now"|date('d/m/Y') }}</td>
    </tr>
    </tbody>
</table>