<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bouygues{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css"/>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% block javascripts %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid" id="container">
    {% block mainheader %}
    <div class="row-fluid" id="header">
        <a class="brand" href="{{ path('home') }}">
            <img src="{{ asset('img/u2_original.png') }}"/>
        </a>

        <div class="pull-right navbar navbar-inverse" id="top-nav">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li class="divider-vertical"></li>
                        {% if app.user %}
                        {% if is_granted('ROLE_DASHBOARD_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Administration
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('admin_sonata_user_user_list') }}">Utilisateurs</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ url('admin_sonata_user_group_list') }}">Groupes</a></li>
                                {% endif %}
                                <li><a href="{{ url('admin_sonata_devises_devises_create') }}">Devises</a></li>
                                <li><a href="{{ url('admin_sonata_impots_impots_list') }}">Centres des Impôts</a></li>
                                <li><a href="{{ url('admin_sonata_client_client_list') }}">Clients</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% else %}
                        <li><a href="{{ path('sonata_user_admin_security_login') }}">
                            <i class="icon-ok icon-white"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if app.user %}
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li>
                            <span >{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</span>
                        </li>
                        <li><a href="{{ path('sonata_user_admin_security_logout') }}">
                            <i class="icon-off icon-white"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock mainheader %}

    {% if errors is defined %}
    {% for error in errors %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}

    {% block body %}
    <div id="maincont">
        <div id="mainsubcont">
            {% block body_content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
</div>

{% use ':JS:bootstrap_tooltip.html.twig' %}
{% use ':JS:list_totals_calculate.html.twig' %}
{% use ':JS:list_format_numbers.html.twig' %}
{% use ':JS:ajax_loading.html.twig' %}

{% block javascriptsafter %}
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{{ block('bootstrapTooltip')}}
{{ block('ajaxLoading')}}
{{ block('totalsCalculate')}}
{{ block('formatNumbers')}}
{% endblock %}
</body>
</html>

