<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Bouygues{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css"/>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid" id="container">
    {% block mainheader %}
    <div class="row-fluid" id="header">
        <a class="brand" href="{{ path('home') }}">
            <img src="{{ asset('img/u2_original.png') }}"/>
        </a>

        <div class="pull-right navbar" id="top-nav">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Administration
                                <b class="caret"></b>
                            </a>
                            {% if is_granted('ROLE_SONATA_ADMIN') %}
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
                                </li>
                                <li><a href="#">Utilisateurs</a></li>
                                <li class="active"><a href="#">Clients</a></li>
                                <li><a href="#">Devises</a></li>
                            </ul>
                            {% endif %}
                        </li>
                        {% else %}
                        <li><a href="{{ path('sonata_user_admin_security_login') }}">
                            <i class="icon-ok icon-white"></i> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if app.user %}
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><a href="{{ path('sonata_user_profile_show') }}">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </b>
                        </a></li>
                        <li><a href="{{ path('sonata_user_admin_security_logout') }}">
                            <i class="icon-off icon-white"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock mainheader %}

    {% if test is defined %}
    <div style="clear: both; float: none;">
        <pre>
            {{ dump(test) }}
        </pre>
    </div>
    {% endif %}

    {% if errors is defined %}
    {% for error in errors %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endfor %}
    {% endif %}

    {% block body %}
    <div id="maincont">
        <div id="mainsubcont">
            {% block body_content %}{% endblock %}
        </div>
    </div>
    {% endblock %}
</div>

{% block javascriptsafter %}
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>

