{% extends 'ApplicationSonataClientOperationsBundle::layout.html.twig' %}

{% set content%}
<div class="rapprochement_content">
<!-- 
    <div class="rapprochement_buttons">
        <button class="btn" onclick="javascript:history.length>1?history.back():location.href = '{{ path('admin_sonata_clientoperations_v01tva_list', {'filter[client_id][value]': client.id, 'month': info.month~'|'~info.year}) }}'.replace('&amp;', '&');"><i class="icon icon-arrow-left"></i> {{ 'Retour'|trans }}</button>
        <button class="btn" id="rapprochement_validation" style="display: none;"><i class="icon icon-asterisk"></i> {{ 'Validation'|trans }}</button>
    </div>
 -->
    <h2>{{ client }}</h2>

    <h3>{{ info.time|date('Y-m') }} <!-- T{{ info.quarter }} --></h3>

    <div class="rapprochement_content_body">
        <div class="rapprochement_content_no_deb">
            <div class="rapprochement_content_input">
                <h4>{{ 'ApplicationSonataClientOperationsBundle.rapprochement.input_title'|trans() }}</h4>
                {% include 'ApplicationSonataClientOperationsBundle::Rapprochement/table.html.twig' with {'table': a06_aib, 'typeName': 'A06-AIB', preRegime: 'pour ', postRegime: ' - DEB "OUI"', 'totalTitle': 'TOTAL A06 pour DEB', 'secondColTitle': 'HT (€)',  'has4thCol': false} %}
            </div>
            <div class="rapprochement_content_output">
                <h4>{{ 'ApplicationSonataClientOperationsBundle.rapprochement.output_title'|trans() }}</h4>
                {% include 'ApplicationSonataClientOperationsBundle::Rapprochement/table.html.twig' with {'table': v05_lic, 'typeName': 'V05-LIC', preRegime: 'pour ', postRegime: ' - DEB "OUI"', 'totalTitle': 'TOTAL V05 pour DEB', 'secondColTitle': 'HT (€)', 'has4thCol': false} %}
            </div>
        </div>
        <div class="rapprochement_content_deb">
            <div class="rapprochement_content_input">
                {% include 'ApplicationSonataClientOperationsBundle::Rapprochement/table.html.twig' with {'table': deb_intro, 'typeName': 'DEB-Intro', preRegime: ' ', postRegime: '', 'totalTitle': 'TOTAL réconcilié', 'secondColTitle': 'Valeur Fiscale HT (€)', 'has4thCol': true} %}
            </div>
            <div class="rapprochement_content_output">
                {% include 'ApplicationSonataClientOperationsBundle::Rapprochement/table.html.twig' with {'table': deb_exped, 'typeName': 'DEB-Exped', preRegime: '', postRegime: '', 'totalTitle': 'TOTAL réconcilié', 'secondColTitle': 'Valeur Fiscale HT (€)', 'has4thCol': true} %}
            </div>
        </div>
    </div>
    <div class="rapprochement_content_stat">
        <div class="rapprochement_content_input">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="40%">
                        ECART 1
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_input_v1"></div>
                    </td>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_input_v2"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="rapprochement_content_output">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="40%">
                        ECART 2
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_output_v1"></div>
                    </td>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_output_v2"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
   
    
</div>

{% if form %}
{% include 'ApplicationSonataClientOperationsBundle::Form/form_rapprochement.html.twig' with {'form': form} %}
{% endif %}

	

 
{% endset %}

{% block javascriptsafter %}
{{ parent() }}
<script type="text/javascript">
    $(function(){
        init_rapprochement_sums();
    });
</script>



<script type="text/javascript">
    /* $(function(){
        init_clientoperations_buttons({
            
            blocking: {
                permit: true,
                hasBlocking: {% if client.getBlockedCount %}true{% else %}false{% endif%},
                isBlocked: {% if info.blocked %}true{% else %}false{% endif%},
                text: '{{ (info.blocked ? 'verrouiller_confirm' : 'deverrouiller_confirm')|trans }}'
            }
        })
    }); */
</script>
{% endblock %}