{% set nn = "ApplicationSonataClientOperationsBundle.declaration.negative_nett"|trans() %}
{% set nv = "ApplicationSonataClientOperationsBundle.declaration.negative_vat"|trans() %}
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th colspan="4">{{ "ApplicationSonataClientOperationsBundle.declaration.sales"|trans() }}</th>
    </tr>
    </thead>
    <tbody>
    
    {% for data in V01TVAlist %}
    <tr>
        <td class="o_title">{% if loop.index == 1 %} <!--  {{ "ApplicationSonataClientOperationsBundle.exports.V01TVA.title"|trans() }}--> {% endif %}</td>
        <td class="o_value">{{ (data.getTauxDeTVA() * 100) }}%</td>
        <td class="o_nett">{{ data.getHT()|number_format(0, ',', ' ') }}</td>
        <td class="o_tva">{{ data.getTVA()|number_format(0, ',', ' ') }}</td>
    </tr>
    {% endfor %}
    
    
    <!--tr>
        <td class="o_title">V01-TVA</td>
        <td class="o_value">2,10%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">2,10%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">5,50%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">5,50%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">7,00%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">7,00%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">19,60%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">19,60%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr-->
    
    </tbody>
</table>