{% extends 'ApplicationSonataDashboardBundle::layout.html.twig' %}

{% block body_content %}
{{ parent() }}
<h2>Selectionner votre project</h2>
<div style="float: right;">
    Attention, 5 alters en cours<br/>
    <br/><br/>
    <button>Consulter les projets ...</button><br/>
    <br/><br/>
</div>
{% if clients %}
<table id="clientList" class="table table-bordered table-striped">
    {% block table_header %}
    <thead>
    <tr class="sonata-ba-list-field-header">

        {% spaceless %}
        <th class="sonata-ba-list-field-header-text">
            <a href="#">Raison sociale</a>
        </th>
        <th class="sonata-ba-list-field-header-text">
            <a href="#">Nature du client</a>
        </th>
        <th class="sonata-ba-list-field-header-text">
            <a href="#">Date de dépot</a>
        </th>
        <th class="sonata-ba-list-field-header-text">
            <a href="#">Date début mission </a>
        </th>
        <th class="sonata-ba-list-field-header-text">
            <a href="#">Date fin mission </a>
        </th>
        {% endspaceless %}
    </tr>
    </thead>
    {% endblock %}

    {% block table_body %}
    <tbody>
    {% for client in clients %}
    <tr>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ client.id }}">
            {{ client.getRaisonSociale }}
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ client.id }}">
            {{ client.getNatureDuClient }}
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ client.id }}">
            {{ client.getDateDeDepot }}
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ client.id }}">
            {{ client.getDateDebutMission|datefmt_format(default_date_format) }}
        </td>
        <td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ client.id }}">
            {{ client.getDateFinMission|datefmt_format(default_date_format) }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    {% endblock %}
</table>
{% endif %}
{% endblock body_content %}

{% block javascripts %}
{{parent()}}
<script src="{{ asset('bundles/applicationsonataclientoperations/js/jquery.tablesorter.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/applicationsonataclientoperations/js/jquery.columnfilters.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#clientList').tablesorter({
            cancelSelection:false
        });
        $('#clientList').columnFilters({
            wildCard:false,
            underline:true,
            alternateRowClassNames:['rowa', 'rowb']
        });
    });
    $(function () {
        var editObjectAbstractUrl = '{{ url('admin_sonata_clientoperations_v01tva_list', {'filter[client_id][value]' : '__id__'}) }}';
        var $table = $('#clientList tbody:first');
        $table.find('tr').css('cursor', 'pointer').click(function () {
            var objectid = $(this).children(':last').attr('objectid');
            if (objectid) {
                location.href = editObjectAbstractUrl.replace("__id__", objectid);
            }
        });
    });
</script>
{% endblock javascripts %}