{% extends 'ApplicationSonataDashboardBundle::layout.html.twig' %}

{% set label_all_clients = cookies.get('show_all_clients')==cookies.get('PHPSESSID') ? 'hide_projects' : 'show_projects' %}

{% block body_content %}
{{ parent() }}
<div style="clear:both;float: none;">
    <h2>Sélectionnez le client</h2>

    <div style="float: left; margin-bottom: 10px;clear: both;">
        {% if alert_count %}
        <div class="alert-count"></i> {% trans with {'%count%': alert_count } %}Attention, %count% alertes en
            cours{% endtrans %}</div>
        {% endif %}
        <button id="show_hide_all_clients" class="btn">{{ ('ApplicationSonataDashboardBundle.index.'~label_all_clients)|trans() }}
            ...
        </button>
    </div>
</div>
<div style="clear:both;float: none;" class="sonata-ba-list">
    {% if clients %}
    <table id="clientList" class="table table-bordered table-striped table-hover" style="width: auto;">
        {% block table_header %}
        <thead>
        <tr class="sonata-ba-list-field-header">
            {% spaceless %}
            <th>
                &nbsp;
            </th>
            <th class="sonata-ba-list-field-header-integer">
                <a href="#">{{ 'list.code_client'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text headerSortUp">
                <a href="#">{{ 'list.raison_sociale'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.nature_du_client'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.user'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.center_des_impots'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-integer">
                <a href="#">{{ 'list.date_de_depot_id'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-boolean">
                <a href="#">{{ 'list.teledeclaration'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.mois_tva'|trans() }} {{ moisExtraColTitle }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.BAPSA'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-text">
                <a href="#">{{ 'list.remboursement_de_TVA'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-money">
                <a href="#">{{ 'list.solde_du_compte'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-date">
                <a href="#">{{ 'list.date_debut_mission'|trans() }}</a>
            </th>
            <th class="sonata-ba-list-field-header-date">
                <a href="#">{{ 'list.date_fin_mission'|trans() }}</a>
            </th>
            {% endspaceless %}
        </tr>
        </thead>
        {% endblock %}

        {% block table_body %}
        <tbody>
        {% for client in clients %}
        <tr class="{% if client.dimmed%}dimmed{% endif %}">
            <td>
                {% spaceless %}
                <a href="{{ path('admin_sonata_clientoperations_v01tva_list', {'filter[client_id][value]' : client[0].id}) }}">
                    <i rel="tooltip" title="Operations" class="icon icon-th-list"></i>
                </a>
                <a href="{{ path('admin_sonata_client_client_edit', {'id':client[0].id}) }}">
                    <i rel="tooltip" title="Fiche" class="icon icon-list-alt"></i>
                </a>
                {% set alert_count = client[0].getAlertCount%}
                {% if alert_count %}
                    <span rel="tooltip" title="{{alert_count}} {{ 'alertes'|trans }}" href="{{ path('admin_sonata_clientoperations_clientalert_list', {'filter[client_id][value]':client[0].id}) }}" class="badge badge-warning btn-link"  clientname="{{ client[0].codeClient }} - {{ client[0].nom }}" id="btn_client_alert">{{ alert_count }}</span>
                {% endif%}
                {% endspaceless %}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-integer"  objectId="{{ client[0].id }}">
                {{ client[0].getCodeClient }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {{ client[0].getNom }} {{ client[0].getRaisonSociale }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {{ client[0].getNatureDuClient }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {{ client[0].user }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {{ client[0].getCenterDesImpots }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-integer"  objectId="{{ client[0].id }}">
                {{ client[0].getDateDeDepot }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-boolean"  objectId="{{ client[0].id }}">
                {% set img = client[0].teledeclaration ? 'accept' : 'exclamation' %}
                <img alt="{{ ('ApplicationSonataDashboardBundle.alt.' ~ img)|trans() }}" src="{{ asset('/bundles/sonataadmin/famfamfam/' ~ img|trans() ~ '.png') }}">
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {#{{ client[0].mois_tva }}#}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {#{{ client[0].BAPSA }}#}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-text"  objectId="{{ client[0].id }}">
                {#{{ client[0].remboursement_de_TVA }}#}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-money"  objectId="{{ client[0].id }}">
                <div class="montant{% if client.compte_solde_montant<0 %} negative_value{% endif %}">
                    {{ client.compte_solde_montant?:0 }}
                </div>
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-date"  objectId="{{ client[0].id }}">
                {{ client[0].getDateDebutMission|datefmt_format(default_date_format) }}
            </td>
            <td class="sonata-ba-list-field sonata-ba-list-field-date"  objectId="{{ client[0].id }}">
                {{ client[0].getDateFinMission|datefmt_format(default_date_format) }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endblock %}
    </table>
    {% endif %}
</div>



<div class="modal hide fade popup-form" id="field_dialog__id" tabindex="-1" role="dialog" aria-labelledby=""
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="title"></h3></div>
        <div class="modal-body popup-body"></div>
        <div class="modal-footer">
            <span class="action-buttons"></span>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
        </div>
    </div>

{% endblock body_content %}

{% block javascripts %}
{{parent()}}

<script src="{{ asset('js/init/ajax.popup.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/applicationsonataclientoperations/js/jquery.tablesorter.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/applicationsonataclientoperations/js/jquery.columnfilters.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    init_home_page();
</script>
{% endblock javascripts %}

{% block javascriptsafter %}
{{ parent()}}
<script type="text/javascript">
    $(function () {
        tableFixLayout();
    });
</script>
{% endblock javascriptsafter %}