<form action="" method="post" {{ form_enctype(form) }} id="rapprochement_form" class="">


	<div class="alert-error">
 	{{ form_errors(form.intro_info_id) }}
 	{{ form_errors(form.intro_info_number) }}
 	{{ form_errors(form.intro_info_number2) }}
 	{{ form_errors(form.intro_info_text) }}
 	
 	{{ form_errors(form.exped_info_id) }}
 	{{ form_errors(form.exped_info_number) }}
 	{{ form_errors(form.exped_info_number2) }}
 	{{ form_errors(form.exped_info_text) }}

	{{ form_errors(form) }}
	</div>

	<div class="rapprochement_content_deb">
            <div class="rapprochement_content_input rapprochement_intro">
                <div class="rapprochement_content_body_table">
				<table class="table table-bordered table-striped">
	                <tbody>
	                <tr>
	                    <td width="40%">
	                    {{ form_widget(form.intro_info_id) }}
	                    </td>
	                    
	                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
	                    	<p>{{ form_widget(form.intro_info_number) }}</p>
	                    </td>
	                    
	                     <td width="20%">&nbsp;</td>
	                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
							<p>{{ form_widget(form.intro_info_number2) }}</p>
							<p>{{ form_widget(form.intro_info_text) }}</p>
	                    </td>
	                </tr>
	                </tbody>
	            </table>
				</div>
            </div>
            <div class="rapprochement_content_output rapprochement_exped">
                <div class="rapprochement_content_body_table">
				<table class="table table-bordered table-striped">
	                <tbody>
	                <tr>
	                    <td width="40%">
	                    {{ form_widget(form.exped_info_id) }}
	                    </td>
	                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
	                    	<p>{{ form_widget(form.exped_info_number) }}</p>                    
	                    </td>
	                    <td width="20%">&nbsp;</td>
	                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
							<p>{{ form_widget(form.exped_info_number2) }}</p>
							<p>{{ form_widget(form.exped_info_text) }}</p>
	                    </td>
	                </tr>
	                </tbody>
	            </table>
				</div>
            </div>
        </div>
        {{ form_rest(form) }}

<div class="rapprochement_content_stat">
        <div class="rapprochement_content_input">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="40%">
                        ECART 3
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_input_calcu1"></div>
                    </td>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_input_calcu2"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="rapprochement_content_output">
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td width="40%">
                        ECART 4
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_output_calcu1"></div>
                    </td>
                    <td width="20%">
                        &nbsp;
                    </td>
                    <td class="sonata-ba-list-field sonata-ba-list-field-money" width="20%">
                        <div id="totals_output_calcu2"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>






<div class="content cboth ">


    {% set text_lock = info.blocked ? 'Clôturer' : 'Déverrouiller' %}
    <button id="btn_locking" rel="tooltip" title="Pour tests" class="btn pull-right"><i class="icon icon-lock"></i> {{ text_lock|trans}}</button>
    &nbsp;&nbsp;
    <!--button id="btn_recalculer" rel="tooltip" title="Recalculer" class="btn pull-right"><i class="icon icon-lock"></i> Recalculer</button-->
    
</div>        
</form>