{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% use ':JS:ajax_init_popup.html.twig' %}
{% use ':popup:popup_form.html.twig' %}

{% set id =  admin.uniqid %}
{% use 'ApplicationSonataClientBundle:CRUD:form_tabs.html.twig' with form_tabs as formTabs %}

{% block title %}
{% if client is defined %}
{% set label = client ~ ' - ' ~ parent() %}
{% elseif  current_client is defined and current_client is not empty %}
{% set label = 'Client - ' ~ current_client ~ ' - ' ~ 'Général'|trans() %}
{% else %}
{% set label = 'Client - Créer' %}
{% endif %}
{{ label }}


{% endblock title %}

{% block sonata_admin_content %}

{{ block('formTabs') }}

{% if content is not empty %}
<div class="sonata-ba-form sonata-ba-list">
    {{ content|raw }}
    {{ block('popup_form') }}
</div>
{% endif %}

{% endblock sonata_admin_content %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/applicationsonataclient/css/client.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/init/ajax.popup.js') }}"></script>
<script type="text/javascript">
    var uniqid = '{{ admin.uniqid }}';
    var active_tab = '{{ active_tab }}';
    {% if js_settings_json is defined and js_settings_json is not empty %}
    var Sonata = {};
    jQuery.extend(Sonata, {{ js_settings_json|raw }});
    {% endif%}
</script>
<script src="{{ asset('bundles/applicationsonataclient/js/client.js') }}" type="text/javascript"></script>
{% endblock javascripts %}


{% block javascriptsafter %}
{{ parent() }}
{{ block('ajaxCreate') }}
{{ block('ajaxEdit') }}
{{ block('ajaxDelete') }}
{% endblock javascriptsafter %}
