<style type="text/css">
body { font-family: Arial; }
.b {font-weight: bold;}
.border { border: 2px solid #000 }
table.td {font-family: arial;}
table.right { float: right; width: 100% }
table.right td { text-align: right }
table.left { float: left; width: 100% }
table.left td { text-align: left }
table.center { width: 100% }
table.center td { text-align: center }
</style>


<table class="right" style="padding-top: 135px;">
<tr><td>
BARCLAYS BANK<br />
56 Avenue Kléber<br />
75008 PARIS<br />
</td></tr>
<tr><td class="b">&nbsp;</td></tr>
<tr><td>Arcueil, le {{ "now"|date("d/m/Y") }}, </td></tr>
</table>

<table class="left">
<tr><td>
<p>DOSSIER {{ client.getCodeClient() }} : {{ client.getNom() }}</p>
<br />
<p>Messieurs,</p>
<br />
<p>Nous vous demandons de bien vouloir transférer {% if coordonnees.getPays().getSepa() %}(SEPA : Frais de 1€ à notre charge) {% else %} (Frais à la charge du bénéficiaire){% endif %} par le débit de notre compte</p>
</td></tr>
</table>

<br /><br />

<table class="center">
<tr><td class="b">N° 734 694 101 01</td></tr>
<tr><td>la somme de</td></tr>
</table>

<table class="center">
<tr><td class="b">€ {{ amount }}</td></tr>
<tr><td class="b">{{ amountWords }}</td></tr>
</table>

<br /><br />

<table class="center">
<tr><td>au profit du compte suivant :</td></tr>
</table>

<br /><br />

<table class="center border">
<tr><td>
<span class="b">{{ client.getRaisonSociale() }}</span><br />
<span class="b">{{ coordonnees.getNom() }}</span><br />
Swift: {{ coordonnees.getCodeSwift() }}<br />
IBAN: {{ coordonnees.getIBAN() }}<br />
<!--ABI: 05048<br />-->
<!--CAB: 32760<br />-->
</td></tr>
</table>

<br /><br />

<table class="left">
<tr><td>
En indiquant en référence du transfert : <span class="b">{{ facture }}</span><br /><br />
Pour toute information concernant cet ordre de virement, merci de contacter {{ client.getUser.getFullname }} au {{ client.getUser.getPhone }}. <br /><br />
Nous vous prions d'agréer, Messieurs, nos salutations distinguées. <br /><br />
</td></tr>
</table>

<br /><br />
<table class="left">
<tr>
	<td>Paul LAEREMANS </td><td>&nbsp;</td><td>Fabrice COCHET</td><td>&nbsp;</td>
</tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr><td colspan="4">&nbsp;</td></tr>
<tr>
<td>Eric BENOIST </td><td>&nbsp;</td><td>Nabila OULD-MAKHLOUF</td><td>&nbsp;</td>
</tr>
</table>