<style type="text/css">

.b {font-weight: bold;}

.border { border: 2px solid #000 }


table.td {font-family: arial;}

table.right { float: right; width: 100% }
table.right td { text-align: right }

table.left { float: left; width: 100% }
table.left td { text-align: left }


table.center { width: 100% }
table.center td { text-align: center }



</style>



<table class="right">
<tr><td class="b">{{ coordonnees.getNom() }}</td></tr>
<tr><td>{{ coordonnees.getAdresse1() }}</td></tr>
{% if coordonnees.getAdresse2() is not empty %}<tr><td>{{ coordonnees.getAdresse2() }}</td></tr>{% endif %}
<tr><td class="b">{{ coordonnees.getVille() }} {{ coordonnees.getCodePostal() }}</td></tr>

<tr><td class="b">&nbsp;</td></tr>
<tr><td class="b">Fax : 01.45.00.24.66</td></tr>
<tr><td class="b">&nbsp;</td></tr>

<tr><td>Arcueil, le {{ "now"|date("d/m/Y") }}, </td></tr>
</table>


<table class="left">
<tr><td>
<p>DOSSIER {{ client.getCodeClient() }}</p>
<br /><br />
<p>Messieurs,</p>
<br /><br />
<p>Nous vous demandons de bien vouloir transférer (SEPA : Frais de 1€ à notre charge) par le débit de notre compte</p>
</td></tr>

</table>


<br /><br />

<table class="center">
<tr><td class="b">N° 734 694 101 01</td></tr>
<tr><td>la somme de</td></tr>
</table>

<br /><br />

<table class="center">
<tr><td class="b">€ {{ amount }}</td></tr>
<tr><td class="b">{{ amountWords }}</td></tr>
</table>

<br /><br />

<table class="center">
<tr><td>au profit du compte suivant :</td></tr>
</table>

<br /><br />



<table class="center border">
<tr><td>

<span class="b">{{ coordonnees.getNom() }}</span><br />
{{ coordonnees.getAdresse1() }}<br />
{% if coordonnees.getAdresse2() is not empty %}{{ coordonnees.getAdresse2() }}<br />{% endif %}
{{ coordonnees.getVille() }} {{ coordonnees.getCodePostal() }}<br />
Swift: {{ coordonnees.getCodeSwift() }}<br />
IBAN: {{ coordonnees.getIBAN() }}<br />
N° de compte: {{ coordonnees.getNoDeCompte() }}<br />
<!--ABI: 05048<br />-->
<!--CAB: 32760<br />-->
</td></tr>
</table>

<br /><br />

<table class="left">
<tr><td>
En indiquant en référence du transfert : <span class="b">Facture</span><br /><br />
Pour toute information concernant cet ordre de virement, merci de contacter Elisabetta Carraro au 01.41.98.48.12. <br /><br />
Nous vous prions d'agréer, Messieurs, nos salutations distinguées. <br /><br />
</td></tr>
</table>




























