{% spaceless %}
{% set cp = 'ApplicationSonataClientOperationsBundle::declaration/' %}
{%
set templates = {
    '1_head':{
        '1_logo':'',
        '4_non-cloture':'',
        '3_contacts':''
    },
    '2_info':{
        '1_client':'',
        '2_summary':'',
    },
    '3_financial':{
        '1_header':'',
        '2_balance':'',
        '3_bank':'',
    },
    '4_vat':{
        '1_header':{
            '1_text':'',
        },
        '2_totals':{
            '1_output':{
                '1_header':'',
                '2_th':'',
                '3_content':''
            },
            '2_input':{
                '1_header':'',
                '2_th':'',
                '3_this':'',
                '4_prev':'',
            },
        },
        '3_charge': {
            '1_header':'',
            '2_output':'',
            '3_input':'',
        },
        '4_acquisitions': {
            '1_header':'',
            '2_output':'',
            '3_input':'',
        },
        '5_footer':{
            '1_credit': {
                '1_output':'',
                '2_input':'',
            },
            '2_total': {
                '1_output':'',
                '2_input':'',
            },
            '3_balance': {
                '1_output':'',
                '2_input':'',
            },
        },
    },
    '5_operations':{
        '1_header': {
            '1_text':'',
        },
        '2_output': {
            '1_exports':'',
            '2_deliveries':'',
            '3_no_tva':'',
            '4_other':'',
        },
        '3_input': {
            '1_quota':'',
        },
    },
    '6_ruling':{
        '1_header':'',
        '2_charge':'',
        '3_total':'',
    },
}
%}
{% set cw = {'A':72.6, 'B':66.9, 'C':77.6, 'D':92.5, 'E':37.7, 'F':60.8, 'G':66.9, 'H':92.5, 'I':112.5} %}
{% set font = 10 %}
{% set lh = 1.35*font %}

<style type="text/css">
{% if debug %}
body {
    background-color: gray;
}

div {
    overflow: hidden;
}

#page {
    background-color: white;
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}
{%endif%}


body {
    font-size: {{ font }}px !important;
    font-family: arial !important;

}
.non-cloture{
	
}

#content {
    width: 681px;
    margin: 0 auto;
}

table {
    width: 100%;
}

td.o_title {
    width: auto;
}

td.o_value {
    text-align: right;
}

td.o_nett {
    text-align: center;
    width: {{ cw.C*1.1 }}px;
}

td.o_tva {
    text-align: center;
    width: {{ cw.D }}px;
}
td.i_title {
    width: auto;
}

td.i_value {
    text-align: right;
}

td.i_nett {
    text-align: center;
    width: {{ cw.H*1.1 }}px;
}

td.i_tva {
    text-align: center;
    width: {{ cw.I }}px;
}

.block_head {
    float: none;
    clear: both;
}

.block_head_logo {
    float: left;
    /* clear: none; */
    width: 30%;
    /* text-align: center;
    width: {{ cw.A }}px;
    height: {{ lh*3 - 1 }}px;
    line-height: {{ lh*3 - 1 }}px;
    border-top: 1px solid black;
    vertical-align: middle; */
}

.block_head_non-cloture {
    float: left;
    width: 30%;
    text-align: center
}

.block_head_address {
    float: left;
    clear: none;
    text-align: left;
    width: {{ cw.C + cw.D }}px;
    height: {{ lh*3 }}px;
    margin-left: {{ cw.B }}px;
}

.block_head_contacts {
    float: right;
    /* clear: none; */
    text-align: right;
    /* width: {{ cw.C + cw.D }}px; */
    width: 30%;
    height: {{ lh*3 }}px;
}

.block_info {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_info_client {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D + cw.E }}px;
}

.block_info_client table {
    width: 100%;
}

.block_info_client table td, .block_info_client table th {
    text-align: center;
}

.block_info_summary {
    float: right;
    clear: none;
    width: {{ cw.G + cw.H + cw.I }}px;
}

.block_info_summary table td, .block_info_summary table th {
    text-align: center;
}

.block_info_summary table td {
   /*  font-size: {{ font*0.9 }}px; */
    height: {{ 2.25*font }}px;
}

.block_financial {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_financial_header {
    font-weight: bold;
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_financial_balance {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D + cw.E + cw.F }}px;
    margin-top: {{ lh }}px;
}

.block_financial_balance td.balance_title {
    width: {{ cw.A + cw.B + cw.C }}px;
    text-align: left;
}

.block_financial_balance td.balance_value {
    width: {{ cw.D }}px;
    text-align: right;
}

.block_financial_balance td.balance_type {
    width: {{ cw.E + cw.F }}px;
    text-align: left;
}

.block_financial_bank {
    float: right;
    clear: none;
    width: {{ cw.G + cw.H + cw.I - 2 }}px;
    border: 1px solid black;
    margin-top: {{ lh }}px;
}

.block_vat {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_vat_header {
    font-weight: bold;
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_vat_totals {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_vat_totals_output {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_vat_totals_output_header {
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_vat_totals_output_th {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_vat_totals_output_th .th_nett {
    float: right;
    clear: none;
    width: {{ cw.C }}px;
    text-align: center;
}

.block_vat_totals_output_th .th_tva {
    float: right;
    clear: none;
    width: {{ cw.D }}px;
    text-align: center;
}

.block_vat_totals_output_content {
    float: none;
    clear: both;
    border: 1px solid black;
    /* height: {{ 1.18*lh*18 + 3*lh + 2  }}px; */
    padding-bottom: 15px;
    
    {% if V01TVAlist is null %}display: none;{% endif %}
}

.block_vat_totals_output_content table th {
    font-weight: normal;
    text-align: left;
}

.block_vat_totals_input {
    float: right;
    clear: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_totals_input_header {
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_vat_totals_input_th {
    margin-top: {{ lh }}px;
    float: none;
    clear: both;
}

.block_vat_totals_input_th .th_nett {
    float: right;
    clear: none;
    width: {{ cw.H }}px;
    text-align: center;
}

.block_vat_totals_input_th .th_tva {
    float: right;
    clear: none;
    width: {{ cw.I }}px;
    text-align: center;
}

.block_vat_totals_input_this {
    float: none;
    clear: both;
    border: 1px solid black;
    padding-bottom: {{ lh }}px;
    {% if A02TVAlist is null and A08IMlist is null %}display: none;{% endif %}
}

.block_vat_totals_input_this table th {
    font-weight: normal;
    text-align: left;
}

.block_vat_totals_input_prev {
    float: none;
    clear: both;
    border: 1px solid black;
    margin-top: {{ lh }}px;
    padding-bottom: {{ lh }}px;
    {% if A02TVAPrevlist is null and A08IMPrevlist is null %}display: none;{% endif %}
}

.block_vat_totals_input_prev table th {
    font-weight: normal;
    text-align: left;
}

.block_vat_charge {
    border: 1px solid black;
    margin-top: {{ lh }}px;
    padding-bottom: {{ lh }}px;
    {% if A04283Ilist is null %}display: none;{% endif %}
}

.block_vat_charge_header {
    float: none;
    clear: both;
    text-align: center;
}

.block_vat_charge_output {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_vat_charge_input {
    float: right;
    clear: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_acquisitions {
    float: none;
    clear: both;
    border: 1px solid black;
    margin-top: {{ lh }}px;
    padding-bottom: {{ lh }}px;
    {% if A06AIBlist is null %}display: none;{% endif %}
}

.block_vat_acquisitions_header {
    float: none;
    clear: both;
    text-align: center;
}

.block_vat_acquisitions_output {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_vat_acquisitions_input {
    float: right;
    clear: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_footer {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_vat_footer_credit {
    float: none;
    clear: both;
}

.block_vat_footer_credit_output {
    display: none;
    float: left;
    clear: none;
}

.block_vat_footer_credit_input {
    float: right;
    clear: none;
    border: 1px solid black;
    width: {{ cw.E + cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_footer_credit_input .title {
    text-align: right;
}

.block_vat_footer_total {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
    border: 1px solid black;
}

.block_vat_footer_total_output {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_vat_footer_total_input {
    float: right;
    clear: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_footer_balance {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_vat_footer_balance_output {
    float: left;
    clear: none;
    border: 1px solid black;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_vat_footer_balance_input {
    float: right;
    clear: none;
    border: 1px solid black;
    border-top: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_vat_footer_balance_input .title {
    text-align: right;
}

.block_vat_footer_balance_input td {
    border-top: 1px solid black;
}

.block_operations {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_operations_header {
    font-weight: bold;
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_operations_output {
    float: left;
    clear: none;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
}

.block_operations_output_exports {
    margin-top: {{ lh }}px;
    border: 1px solid black;
    {% if V07EXlist is null %}display: none;{% endif %}
}

.block_operations_output_exports th{
    font-weight: normal;
    text-align: left;
}

.block_operations_output_exports td.o_tva{
    background-color: #D9D9D9;
}

.block_operations_output_deliveries {
    border: 1px solid black;
    border-top: none;
    {% if V05LIClist is null %}display: none;{% endif %}
}

.block_operations_output_deliveries th{
    font-weight: normal;
    text-align: left;
}

.block_operations_output_deliveries td.o_tva{
    background-color: #D9D9D9;
}

.block_operations_output_no_tva {
    border: 1px solid black;
    border-top: none;
    {% if V03283Ilist is null %}display: none;{% endif %}
}

.block_operations_output_no_tva th{
    font-weight: normal;
    text-align: left;
}

.block_operations_output_no_tva td.o_tva{
    background-color: #D9D9D9;
}

.block_operations_output_other {
    border: 1px solid black;
    border-top: none;
    {% if V11INTlist is null %}display: none;{% endif %}
}

.block_operations_output_other th{
    font-weight: normal;
    text-align: left;
}

.block_operations_output_other td.o_tva{
    background-color: #D9D9D9;
}

.block_operations_input {
    float: right;
    clear: none;
    width: {{ cw.F + cw.G + cw.H + cw.I - 2 }}px;
}

.block_operations_input_quota {
    margin-top: {{ lh }}px;
    border: 1px solid black;
    {% if A10CAFlist is null %}display: none;{% endif %}
}

.block_operations_input_quota th{
    font-weight: normal;
    text-align: left;
}

.block_operations_input_quota td.i_tva{
    background-color: #D9D9D9;
}

.block_ruling {
    float: none;
    clear: both;
    margin-top: {{ lh }}px;
}

.block_ruling_header {
    font-weight: bold;
    float: none;
    clear: both;
    border: 1px solid black;
    text-align: center;
}

.block_ruling_charge {
    float: left;
    clear: both;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
    margin-top: {{ lh }}px;
}

.block_ruling_total {
    float: left;
    clear: both;
    width: {{ cw.A + cw.B + cw.C + cw.D }}px;
    margin-top: {{ lh }}px;
}

.block_ruling td.title{
    width: {{ cw.A }}px;
}

.block_ruling td.nett{
    text-align: center;
    width: {{ cw.B }}px;
}

.block_ruling td.vat{
    text-align: center;
    width: {{ cw.C + cw.D }}px;
}

.block_ruling .block_ruling_total td.nett{
    text-align: right;
}

.block_ruling .block_ruling_total td.vat{
    text-align: right;
}
</style>
<div id="page">
    <div id="content">
        {% include cp~'combine.html.twig' with {'gp': cp, 'cp': cp, 'templates': templates, 'class': 'block'} %}
    </div>
</div>
{% endspaceless %}