{% spaceless %}
{% set cp = 'ApplicationSonataClientOperationsBundle::pdf/' %}
{%
set templates = {
    '1_head':{
        '1_logo':'',
        '2_address':'',
        '3_contacts':''
    },
    '2_info':{
        '1_client':'',
        '2_summary':'',
    },
    '3_financial':{
        '1_balance':'',
        '2_bank':'',
    },
    '4_vat':{
        '1_totals':{
            '1_output':'',
            '2_input':{
                '1_this':'',
                '2_prev':'',
            },
        },
        '2_charge':'',
        '3_acquisitions':'',
        '4_footer':'',
    },
    '5_operations':{
        '1_sell':'',
        '2_buy':'',
    },
    '6_ruling':{
        '1_charge':'',
        '2_total':'',
    },
}
%}
{% set cw = {'A':72.6, 'B':66.9, 'C':77.6, 'D':92.5, 'E':37.7, 'F':60.8, 'G':66.9, 'H':92.5, 'I':112.5} %}
{% set font = 13 %}
{% set lh = 1.35*font %}

<style type="text/css">
    <!--
    .block_info {
        background-color: red;
    }

    .block_info_client {
        background-color: yellow;
    }

    /*.block_head_address {*/
        /*background-color: green;*/
    /*}*/

    .block_info_summary {
        background-color: blue;
    }

    .block_head {
        float: none;
        clear: both;
    }

    .block_head_logo {
        float: left;
        clear: none;
        text-align: center;
        width: {{ cw.A }}px;
        height: {{ lh*3 - 1 }}px;
        line-height: {{ lh*3 - 1 }}px;
        border-top: 1px solid black;
        vertical-align: middle;
    }

    .block_head_address {
        float: left;
        clear: none;
        text-align: left;
        width: {{ cw.C + cw.D }}px;
        height: {{ lh*3 }}px;
        margin-left: {{ cw.B }}px;
    }

    .block_head_contacts {
         float: right;
         clear: none;
         text-align: right;
         width: {{ cw.C + cw.D }}px;
         height: {{ lh*3 }}px;
     }

    .block_info {
        float: none;
        clear: both;
        margin-top: {{ lh }}px;
    }

    .block_info_client {
        float: left;
        clear: none;
        width: {{ cw.A + cw.B + cw.C + cw.D + cw.E }}px;
    }

    .block_info_summary {
        float: right;
        clear: none;
        width: {{ cw.G + cw.H + cw.F }}px;
    }
    -->
</style>

<div style="font-size: {{ font }}px; font-family: arial;">
    {% include cp~'combine.html.twig' with {'gp': cp, 'cp': cp, 'templates': templates, 'class': 'block'} %}
</div>
{% endspaceless %}