<script type="text/javascript">
    var field_dialog_{{ id }} = false;
    var field_dialog_popup{{ id }} = false;

    function initialize_popup_{{ id }}() {
// initialize component
        if (!field_dialog_{{ id }}) {
            field_dialog_{{ id }} = jQuery("#field_dialog_{{ id }}");

// move the dialog as a child of the root element, nested form breaks html ...
            jQuery(document.body).append(field_dialog_{{ id }});

            Admin.log('[{{ id }}|field_dialog] move dialog container as a document child');
        }
    };

    // handle the add link
    var field_dialog_form_add_{{ id }} = function (event, link) {
        initialize_popup_{{ id }}();

        event.preventDefault();
        event.stopPropagation();

        var a = jQuery(this);

        field_dialog_{{ id }}.html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="title"></h3></div><div class="modal-body"></div><div class="modal-footer"></div>');

        Admin.log('[{{ id }}|field_dialog_form_add] add link action');

        // retrieve the form element from the related admin generator
        jQuery.ajax({
            url:link,
            dataType:'html',
            success:function (html) {

                Admin.log('[{{ id }}|field_dialog_form_add] ajax success', field_dialog_{{ id }});

                // populate the popup container
                field_dialog_{{ id }}.find('.modal-body').html(html);


                jQuery('.sonata-actions', field_dialog_{{ id }}).parent().remove();
                var dialog_title = jQuery('.form-horizontal legend', field_dialog_{{ id }}).text();
                jQuery('.form-horizontal legend', field_dialog_{{ id }}).remove();

                field_dialog_{{ id }}.find('#title').html(dialog_title);

                jQuery('.datepicker').datepicker({language:'{{default_locale}}', format: '{{default_date_format_js}}'});

                // capture the submit event to make an ajax call, ie : POST data to the
                // related create admin
                jQuery('a', field_dialog_{{ id }}).live('click', field_dialog_form_action_{{ id }});
                jQuery('form', field_dialog_{{ id }}).live('submit', field_dialog_form_action_{{ id }});

                field_dialog_{{ id }}.modal('toggle');

                // open the dialog in modal mode
                /*field_dialog_{{ id }}.dialog({
                    height:'auto',
                    width:650,
                    modal:true,
                    autoOpen:true,
                    resizable:true,
                    title: dialog_title,
                    close:function (event, ui) {
                        Admin.log('[{{ id }}|field_dialog_form_add] dialog closed - removing `live` events');
                        // make sure we have a clean state
                        jQuery('a', field_dialog_{{ id }}).die('click');
                        jQuery('form', field_dialog_{{ id }}).die('submit');
                    },
                    zIndex:9998
                });*/
            }
        });
    };


    // handle the post data
    var field_dialog_form_action_{{ id }} = function (event) {

        event.preventDefault();
        event.stopPropagation();

        Admin.log('[{{ id }}|field_dialog_form_action] action catch', this);

        initialize_popup_{{ id }}();

        var element = jQuery(this);

        if (this.nodeName == 'FORM') {
            var url = element.attr('action');
            var type = element.attr('method');
        } else if (this.nodeName == 'A') {
            var url = element.attr('href');
            var type = 'GET';
        } else {
            alert('unexpected element : @' + this.nodeName + '@');
            return;
        }

        if (element.hasClass('sonata-ba-action')) {
            Admin.log('[{{ id }}|field_dialog_form_action] reserved action stop catch all events');
            return;
        }

        var data = {
            _xml_http_request:true
        }

        var form = jQuery(this);

        Admin.log('[{{ id }}|field_dialog_form_action] execute ajax call');

        // the ajax post
        jQuery(form).ajaxSubmit({
            url:url,
            type:type,
            data:data,
            success:function (data) {

                var ajax_loading = false;
                if (!ajax_loading) {
                    ajax_loading = $(html_ajax_load()).show().appendTo('body');
                }

                Admin.log('[{{ id }}|field_dialog_form_action] ajax success');

                if (typeof data == 'string') {
                    field_dialog_{{ id }}.html(data);
                    return;
                }
                ;

                // if the crud action return ok, then the element has been added
                // so the widget container must be refresh with the last option available
                if (data.result == 'ok') {
                    field_dialog_{{ id }}.dialog('close');
                    window.location.reload();
                    return;
                }

                // otherwise, display form error
                field_dialog_{{ id }}.html(html);

                Admin.add_pretty_errors(field_dialog_{{ id }});

                // reattach the event
                jQuery('form', field_dialog_{{ id }}).submit(field_dialog_form_action_{{ id }});
            }
        });

        return false;
    };

</script>