{% extends '::base.html.twig' %}

{% block title %} Dashboard! {% endblock %}

{% block body %}


{% if(is_granted('ROLE_SONATA_ADMIN')) %}
<a href="{{ path('sonata_admin_dashboard') }}">Admin dashboard</a>
{% else %}

{% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<a href="{{ path('sonata_user_admin_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
{% else %}
<a href="{{ path('sonata_user_admin_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
{% endif %}

{% endblock body %}