{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block table_footer %}{% endblock table_footer %}

{% block javascripts %}
{{ parent() }}
 	<script>
 	{% if js_settings_json is defined and js_settings_json is not empty %}
    var Sonata = {};
    jQuery.extend(Sonata, {{ js_settings_json|raw }});
    {% endif%}
    </script>
<script type="text/javascript" src="{{ asset('bundles/applicationsonataclient/js/clients.js') }}"></script>
{% endblock javascripts %}

{% block javascriptsafter %}
{{ parent() }}
<script type="text/javascript">



    var clientsDimmed = {{ globalsGet('clientsDimmed')|raw }};
    for(var i in clientsDimmed){
        clientsDimmed[i].client.compte_solde_montant = clientsDimmed[i].compte_solde_montant?clientsDimmed[i].compte_solde_montant:0;
        addClient(clientsDimmed[i].client, 'dimmed')
    }

    $(function () {
        tableFixLayout();
    });
</script>
{% endblock javascriptsafter %}


{% block actions %}
{% if is_granted('ROLE_ADD_CLIENTS') %}
<div class="sonata-actions">
    {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
</div>
{% endif %}
{% endblock %}
