{% extends ':CRUD:edit.html.twig' %}

{% block form %}
{% set url = admin.id(object) ? 'edit' : 'create' %}

{% if not admin.hasRoute(url)%}
<div>
    {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
</div>
{% else %}
<form class="form-horizontal" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }} method="POST">
    {% if form.vars.errors|length > 0 %}
    <div class="sonata-ba-form-error">
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {% block sonata_pre_fieldsets %}{% endblock %}

    {% set column_length = 0 %}
    {% for name, form_group in admin.formgroups %}
        {% set column_length = column_length>form_group.fields|length?column_length:form_group.fields|length %}
    {% endfor %}

    <legend>
        {{ 'form.client'|trans({}, admin.translationdomain) }}
    </legend>

    <table class="form-table">
        {% for name, form_group in admin.formgroups %}
        {% set form_group_fields_keys = form_group.fields|keys %}
        <tr {% if form_group.collapsed %}class="sonata-ba-fielset-collapsed"{% endif %}>
        {% for i in 1..column_length %}
            {% set field_name = form_group_fields_keys|length>=i?form_group.fields[form_group_fields_keys[i-1]]:'' %}
            <td class="td-{{field_name}}">
                <div class="sonata-ba-collapsed-fields">
                {% if field_name and admin.formfielddescriptions[field_name] is defined %}
                {{ form_row(form[field_name])}}
                {% else %}
                &nbsp;
                {% endif %}
                </div>
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% block sonata_post_fieldsets %}{% endblock %}
    {{ form_rest(form) }}
    {{ block('formactions') }}
</form>

{{ block('form_js') }}

{% endif%}

{% endblock %}