{% extends ':CRUD:edit.html.twig' %}

{% block form %}
{% set url = admin.id(object) ? 'edit' : 'create' %}

{% if not admin.hasRoute(url)%}
<div>
    {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
</div>
{% else %}
<form class="form-horizontal" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }} method="POST">
    {% if form.vars.errors|length > 0 %}
    <div class="sonata-ba-form-error">
        {{ form_errors(form) }}
    </div>
    {% endif %}

    {% block sonata_pre_fieldsets %}{% endblock %}

    <table class="form-table">
        <tr>
            {% set field_index = 0 %}
            {% for name, form_group in admin.formgroups %}
            {% set field_index = field_index + 1 %}
            <td {% if form_group.collapsed %}class="sonata-ba-fielset-collapsed"{% endif %} class="td-{{ field_index }}">
                {% if form_group.collapsed %}
                <a href="" class="sonata-ba-collapsed"
                title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ name|trans({}, admin.translationdomain) }}</a>
                {% elseif name|trim is not empty %}
                <legend>
                {{ name|trans({}, admin.translationdomain) }}
                </legend>
                {% endif %}

                <div class="sonata-ba-collapsed-fields">
                    {% for field_name in form_group.fields %}
                    {% if admin.formfielddescriptions[field_name] is defined %}
                    {{ form_row(form[field_name])}}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
        </tr>
    </table>

    {% block sonata_post_fieldsets %}{% endblock %}
    {{ form_rest(form) }}
    {{ block('formactions') }}
</form>

{{ block('form_js') }}

{% endif%}

{% endblock %}