{% block form_tabs %}
{% set action = client_id ? 'edit' : 'create' %}
{% set _filter_json = {'filter[client_id][value]':client_id} %}

<div class="client_tabs_block">
    <ul class="nav nav-tabs">
        <li {% if active_tab=='client' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_client_'~action, {'id':client_id}) }}">Général</a>
        </li>
        {% if client_id  %}
        <li {% if active_tab=='contact' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_contact_list', _filter_json) }}">Contacts</a>
        </li>
        {% endif %}
        {% if client_id  %}
        <li {% if active_tab=='document' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_document_list', _filter_json) }}">Documents légaux</a>
        </li>
        {% endif %}
        {% if client_id  %}
        <li {% if active_tab=='garantie' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_garantie_list', _filter_json) }}">Garanties</a>
        </li>
        {% endif %}
        {% if client_id  %}
        <li {% if active_tab=='coordonnees' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_coordonnees_list', _filter_json) }}">Coordonnées Bancaires</a>
        </li>
        {% endif %}
        {% if client_id  %}
        <li {% if active_tab=='commentaire' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_commentaire_list', _filter_json) }}">Commentaires</a>
        </li>
        {% endif %}
        {% if client_id  %}
        <li {% if active_tab=='tarif' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_tarif_list', _filter_json) }}">Tarif</a>
        </li>
        {% endif %}

        {% if client_id  %}
        <li {% if active_tab=='compte' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_compte_list', _filter_json) }}">Compte</a>
        </li>
        {% endif %}

        {% if client_id  %}
        <li {% if active_tab=='compte_de_depot' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_client_comptededepot_list', _filter_json) }}">Compte de dépôt</a>
        </li>
        {% endif %}

    </ul>
</div>
{% endblock %}