<table cellpadding="0" cellspacing="-1" border="0">
    <tbody>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance_title"|trans() }} {{ "ApplicationSonataClientOperationsBundle.declaration.period_this"|trans() }} (si<0) </td>
        <td class="i_tva">{% if SoldeTVATotal < 0 %}{{ SoldeTVATotal|number_format(0, ',', ' ') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.claim"|trans() }}</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.credit_carried"|trans() }}</td>
        <td class="i_tva">0</td>
    </tr>
    </tbody>
</table>
