<table cellpadding="0" cellspacing="-1" border="0">
    <tbody>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.balance_title"|trans() }} 
        	{{ "ApplicationSonataClientOperationsBundle.declaration.period_this"|trans() }} (TVA<0) </td>
        <td class="i_tva">
        {% if (ClientDeclarationComputation.getSoldeTVATotal) < 0 %}
        	{{ ClientDeclarationComputation.getSoldeTVATotal|number_format(0, ',', ' ') }}
		{% else %}
			0
		{% endif %}
		</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.claim"|trans() }}</td>
        <td class="i_tva">{% if (ClientDeclarationComputation.getSoldeTVATotal) < 0 %}
        	{{ rapState.getDemandeDeRemboursement|number_format(0, ',', ' ') }}{% else %}0{% endif %}</td>
    </tr>
    <tr>
        <td class="title">{{ "ApplicationSonataClientOperationsBundle.declaration.credit_carried"|trans() }}</td>
        <td class="i_tva">{% if (ClientDeclarationComputation.getSoldeTVATotal) < 0 %}
        	{{ ClientDeclarationComputation.getCreditOfVATCarriedForward|number_format(0, ',', ' ') }}{% else %}0{% endif %}</td>
    </tr>
    </tbody>
</table>