{% block form_buttons %}
<form id="mass-buttons" onsubmit="return false">
    <div>
        <div class="btn-group inline">
            <button class="btn" id="btn_more_info"><i class="icon icon-list-alt"></i> Voir la fiche</button>
            <button class="btn" id="toggleImportModal"><i class="icon icon-hdd"></i> Importer un fichier</button>
            <button class="btn" id="deleteImport"><i class="icon icon-trash"></i> Supprimer un lot importé</button>

            {% set alert_count = client.getAlertCount()%}
            {% if alert_count %}
            <button rel="tooltip" title="{{alert_count}} alertes" class="btn"
                    id="btn_client_alert">{% trans with {'%count%': alert_count } %}
                <span class="badge badge-warning">%count%</span> Alertes{% endtrans %}</button>
            {% endif%}

            {% if admin.isGranted('ROLE_CLIENT_TOOLS') %}
            {% set text_lock = blocked ? 'Verrouiller' : 'Déverrouiller' %}
            <button id="btn_locking" class="btn">
                <i class="icon icon-lock"></i> {{ text_lock|trans}}</button>
            {% endif %}

            <button class="btn" id="downloadPDF"><i class="icon icon-print"></i> PDF</button>
        </div>
    </div>
</form>

<div class="modal hide fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="importModalLabel">Importer un fichier</h3>
    </div>
    <div class="modal-body">
        <p>

        <form class="form-inline" id="importForm" method="post"
              action="{{ path('admin_sonata_clientoperations_'~active_tab~'_import', _filter_json) }}"
              enctype="multipart/form-data">
            <input id="inputFile" type="file" name="inputFile" style="display:none"/>
            <input id="inputFileCover" class="input-large" type="text"/>
            <a class="btn" onclick="$('input[id=inputFile]').click();">choisir le fichier</a>
        </form>
        <button class="btn"
                onclick="location.href='{{ path('admin_sonata_clientoperations_'~active_tab~'_blank', _filter_json) }}'">
            <i class="icon icon-exclamation-sign"></i> télécharger échantillon
        </button>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">fermer</button>
        <button class="btn btn-primary" id="doImport">importer</button>
    </div>
</div>

<script type="text/javascript">
    {% if admin.isGranted('ROLE_CLIENT_TOOLS') %}
    $("#btn_locking").click(function () {

        {% if client.getBlockedCount and blocked %}

            $('#btn_client_alert').click();

        {% else %}
            {% set text_lock_confirm = blocked ? 'verrouiller_confirm' : 'deverrouiller_confirm' %}
            if (confirm('{{ text_lock_confirm|trans}}')) {
                location.href = '{{ path('admin_sonata_clientoperations_'~active_tab~'_locking', {'filter[client_id][value]':client_id, 'client_id': client_id, 'month' : query_month, 'year' : year, 'blocked': blocked  }) }}';
            }
        {% endif%}

    });
    {% endif %}

    $("#toggleImportModal").click(function () {
        $("#importModal").modal('toggle');
    });

    $("#doImport").click(function () {
        $("#importForm").submit();
    });

    $('input[id=inputFile]').change(function () {
        $('#inputFileCover').val($(this).val());
    });

    $('#btn_more_info').click(function () {
        location.href = '{{ path('admin_sonata_client_client_edit', {'id':client_id}) }}';
    });

    $('#deleteImport').click(function () {
        $.ajax({
            url:'{{ path('admin_sonata_clientoperations_'~active_tab~'_importList', _filter_json) }}',
            dataType:'json',
            success:function (json) {
                var $table = $('<table class="table table-bordered table-striped table-hover" style="width: auto;"><thead></thead></table>');
                $('<tr class="sonata-ba-list-field-header" />')
                        .append('<th class="sonata-ba-list-field-header-integer">Id</th>')
                        .append('<th class="sonata-ba-list-field-header-date">Date</th>')
                        .append('<th class="sonata-ba-list-field-header-orm_many_to_one">User</th>')
                        .append('<th class="sonata-ba-list-field-header-actions">Action</th>')
                        .appendTo($table.children('thead'));

                var $tbody = $('<tbody />');
                for (i in json.imports) {
                {% set import_delete_params = _filter_json|merge({'id':'__id__'}) %}
                    var deleteUrl = '{{ path('admin_sonata_clientoperations_'~active_tab~'_importRemove', import_delete_params) }}'.replace("__id__", json.imports[i].id);
                    $('<tr />')
                            .append('<td class="sonata-ba-list-field-header-integer">' + json.imports[i][0].id + '</td>')
                            .append('<td class="sonata-ba-list-field-header-date"><b>' + json.imports[i][0].date.date + '</b></td>')
                            .append('<td class="sonata-ba-list-field-header-orm_many_to_one">' + json.imports[i].username + '</td>')
                            .append('<td class="sonata-ba-list-field-header-actions"><a style="display: inline;" class="import_del" href="' + deleteUrl + '">Supprimer</a></td>')
                            .appendTo($tbody);
                }
                $table.append($tbody);

                // populate the popup container
                field_dialog_{{ id }}.find('.popup-body').html('').append($table);
                field_dialog_{{ id }}.find('#title').html(json.title);
                field_dialog_{{ id }}.modal('toggle');

                $table.find('a.import_del').click(function () {
                    return confirm('{{ 'ApplicationSonataClientOperationsBundle.imports.confirm_delete'|trans() }}');
                });
            }
        });
    });

    $('#btn_client_alert').live('click', function (event) {
        var link = '{{ path('admin_sonata_clientoperations_clientalert_list', _filter_json) }}';
        field_dialog_form_add_{{ id }}(event, link);
        return false;
    });

    $('#downloadPDF').click(function () {
        location.href = '{{ admin.generateUrl('pdf', _filter_json) }}';
    })
</script>

{% endblock form_buttons %}