{% block form_client_topinfo %}
<form id="client-topinfo" class="form-inline pull-right">
    <h1>{{ client.getCodeClient }} - {{ client }}
        {% if not blocked %}
        <span title="S'affiche uniquement si on a cloturé le mois (il y a donc au moins une ligne qui est cloturée)"
              class="label label-warning">Mois en cours cloturé</span>
        {% endif %}
    </h1>

    <div>
        <label for="selected_month">{{'ApplicationSonataClientOperationsBundle.mois'|trans}}</label>
        <select id="selected_month" name="month">
            {% for month in month_list %}
            <option {% if month.key == query_month or (month.key == 'all' and query_month == '-1') %} selected="selected" {% endif %}
                                                      value="{{ month.key }}">{{ month.name}}</option>
            {% endfor %}
        </select>
    </div>
    
    &nbsp;
    
	<a class="btn {% if compte_reel_sum < 0 %}btn-danger{% endif %}" href="{{ path('admin_sonata_client_compte_list', {'filter[client_id][value]':client_id}) }}">Solde{% if compte_previsionnel_sum %} P{% endif %} {{ compte_reel_sum|number_format(2, ',', ' ') }} €</a>
</form>






{% set path = url('admin_sonata_clientoperations_'~active_tab~'_list', {'filter[client_id][value]':client_id}) %}

<script type="text/javascript">
    $('#selected_month, #selected_year').change(function () {
        var path = '{{ path }}';
        window.location = $('#selected_month :selected').val() ? path + '&month=' + $('#selected_month :selected').val() : path;
    });
</script>
{% endblock form_client_topinfo %}