{% block form_tabs %}
{% spaceless %}
<div class="clientoperations_tabs_types_block">
    <ul class="nav nav-pills">
        {% if client_id %}
        <li {% if active_tab=='v01tva' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v01tva_list', _filter_json) }}">{{ 'v01tva.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v03283i' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v03283i_list', _filter_json) }}">{{ 'v03283i.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v05lic' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v05lic_list', _filter_json) }}">{{ 'v05lic.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='debexped' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_debexped_list', _filter_json) }}">{{ 'debexped.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v07ex' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v07ex_list', _filter_json) }}">{{ 'v07ex.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v09des' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v09des_list', _filter_json) }}">{{ 'v09des.title'|trans }}</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v11int' %}class="active"{% endif %}>
            <a href="{{ path('admin_sonata_clientoperations_v11int_list', _filter_json) }}">{{ 'v11int.title'|trans }}</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endspaceless %}
{% endblock %}