{% block form_buttons %}
<form id="mass-buttons" onsubmit="return false">
    <div style="btn-group-nowrap">
        <div class="btn-group inline">
            <button rel="tooltip" title="{{ 'Voir la fiche'|trans }}" class="btn" id="btn_more_info" onclick="javascript:location.href = '{{ path('admin_sonata_client_client_edit', {'id':client_id}) }}';"><i class="icon icon-list-alt"></i> {{ 'Fiche'|trans }}</button>
        </div>

        <div class="btn-group inline">
            <button rel="tooltip" title="{{ 'Importer un fichier'|trans }}" class="btn" id="toggleImportModal" onclick="javascript:$('#importModal').modal('toggle');"><i class="icon icon-hdd"></i> {{ 'Importer'|trans }}</button>
            <button rel="tooltip" title="{{ 'Exporter les opérations'|trans }}" class="btn" id="exportExcel" onclick="javascript:location.href = '{{ admin.generateUrl('exportExcel', _filter_json) }}'.replace('&amp;', '&');"><i class="icon icon-download-alt"></i> {{ 'Exporter'|trans }}</button>
            <!-- <button rel="tooltip" title="{{ 'Exporter les opérations'|trans }}" class="btn" id="exportExcel" onclick="javascript:location.href = '{{ admin.generateUrl('exportTransDeb', _filter_json) }}'.replace('&amp;', '&');"><i class="icon icon-download-alt"></i> {{ 'Exporter DEB'|trans }}</button> -->
            <button rel="tooltip" title="{{ 'Supprimer un lot importé'|trans }}" class="btn" id="deleteImport"><i class="icon icon-trash"></i> {{ 'Supprimer'|trans }}</button>
        </div>

            {% set alert_count = client.getAlertCount()%}
            {% if alert_count %}
            <div class="btn-group inline">
                <button rel="tooltip" title="{{alert_count}} {{ 'alertes'|trans }}" class="btn" id="btn_client_alert">{{ 'Alertes'|trans }} <span class="badge badge-warning">{{ alert_count }}</span></button>
            </div>
            {% endif%}

        <div class="btn-group inline">
            <button class="btn" id="raprochement" ><i class="icon icon-list-alt"></i> {{ 'Synthèses'|trans }}</button>
            <!--button class="btn" id="downloadDeclaration" onclick="javascript:window.open('{{ admin.generateUrl('declaration', _filter_json) }}'.replace('&amp;', '&'));"><i class="icon icon-print"></i> {{ 'Déclaration'|trans }}</button-->
            
            {% if admin.isGranted('ROLE_CLIENT_TOOLS') and (blocked == false or client_ferme == false) %}
            {% set text_lock = blocked ? 'Clôturer' : 'Déverrouiller' %}
            <button id="btn_locking" rel="tooltip" title="Pour tests" class="btn"><i class="icon icon-lock"></i> {{ text_lock|trans}}</button>
            {% endif %}
            
        </div>

        <div class="btn-group inline">
            <button class="btn" id="downloadAttestation" onclick="javascript:window.open('{{ admin.generateUrl('attestation', _filter_json) }}'.replace('&amp;', '&'));"><i class="icon icon-print"></i> {{ 'Attestation'|trans }}</button>
        </div>
    </div>
</form>

<div class="modal hide fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="importModalLabel">{{'Importer un fichier'|trans}}</h3>
    </div>
    <div class="modal-body">
        <p>

        <form class="form-inline" id="importForm" method="post"
              action="{{ admin.generateUrl('import', _filter_json) }}"
              enctype="multipart/form-data">
            <input id="inputFile" type="file" name="inputFile" style="display:none"/>
            <input id="inputFileCover" class="input-large" type="text"/>
            <a class="btn" onclick="$('input[id=inputFile]').click();">{{ 'choisir le fichier'|trans }}</a>
        </form>
        <!-- button class="btn"
                onclick="location.href='{{ admin.generateUrl('blank', _filter_json) }}'">
            <i class="icon icon-exclamation-sign"></i> {{ 'télécharger échantillon'|trans }}
        </button-->
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="doImport" onclick="javascript:$('#importForm').submit();">{{ 'Importer'|trans}}</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'Fermer'|trans }}</button>
    </div>
</div>

<script type="text/javascript">
    $(function(){
    	$('#raprochement').click(function() {
    		var popup = window.open("about:blank", "myPopup");
    		var popup2 = window.open("about:blank", "myPopup2");
    		popup.location = '{{ path('rapprochement_index', {client_id: client_id, month: month~'|'~year } ) }}';
    		popup2.location = '{{ path('rapprochement_frame', {client_id: client_id, month: month~'|'~year } ) }}'; 
    	});
    	
    	
        init_clientoperations_buttons({
            alert:{
                link: '{{ path('admin_sonata_clientoperations_clientalert_list', _filter_json) }}'.replace('&amp;', '&'),
                title: '{{ client.codeClient }} - {{ client.nom }}'
            },
            blocking: {
                link: '{{ path('admin_sonata_clientoperations_'~active_tab~'_locking', {'filter[client_id][value]':client_id, 'client_id': client_id, 'month' : query_month, 'year' : year, 'blocked': blocked  }) }}',
                permit: {% if admin.isGranted('ROLE_CLIENT_TOOLS') %}true{% else %}false{% endif%},
                hasBlocking: {% if client.getBlockedCount %}true{% else %}false{% endif%},
                isBlocked: {% if blocked %}true{% else %}false{% endif%},
                text: '{{ (blocked ? 'verrouiller_confirm' : 'deverrouiller_confirm')|trans }}'
            },
            import: {
                link: '{{ path('admin_sonata_clientoperations_'~active_tab~'_importList', _filter_json) }}'.replace('&amp;', '&'),
                {% set import_delete_params = _filter_json|merge({'id':'__id__'}) %}
                delete: '{{ path('admin_sonata_clientoperations_'~active_tab~'_importRemove', import_delete_params) }}',
                confirm: '{{ 'ApplicationSonataClientOperationsBundle.imports.confirm_delete'|trans() }}'
            }
        })
    });
</script>

{% endblock form_buttons %}