{% block form_tabs %}
{% set _filter_json = {'filter[client_id][value]':client_id, 'month': month} %}
<div class="clientoperations_tabs_types_block">
    <ul class="nav nav-pills">
        {% if client_id %}
        <li {% if active_tab=='v01tva' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v01tva_list', _filter_json) }}">V01-TVA</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v03283i' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v03283i_list', _filter_json) }}">V03-283-I</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v05lic' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v05lic_list', _filter_json) }}">V05-LIC</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='debexped' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_debexped_list', _filter_json) }}">DEB Exped</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v07ex' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v07ex_list', _filter_json) }}">V07-EX</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v09des' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v09des_list', _filter_json) }}">V09-DES</a>
        </li>
        {% endif %}
        {% if client_id %}
        <li {% if active_tab=='v11int' %}class="active"{% endif %}>
            <a href="{{ url('admin_sonata_clientoperations_v11int_list', _filter_json) }}">V11-INT</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}