{% extends ':CRUD:edit.html.twig' %}

{% block title %}
Utilisateur - {{ parent() }}
{% endblock title %}

{% block actions %}
<div class="sonata-actions">
    {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <a class="btn sonata-action-element" href="{{ admin.generateObjectUrl('history', object) }}">{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}</a>
    {% endif %}
    {% if admin.hasroute('list') and admin.isGranted('LIST')%}
    <a class="btn sonata-action-element" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
    {% endif %}
</div>
{% endblock actions %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/applicationsonatauser/js/user.js') }}"></script>
    <script type="text/javascript">
        var uniqid = '{{ admin.uniqid }}';
    </script>
{% endblock javascripts %}

{% block javascriptsafter %}
{{ parent() }}
<script type="text/javascript">
    $(function(){
        $('#'+uniqid+'_groups').removeAttr('multiple').prepend('<option value=""></option>');
    });
</script>
{% endblock javascriptsafter %}