{% set nn = "ApplicationSonataClientOperationsBundle.pdf.negative_nett"|trans() %}
{% set nv = "ApplicationSonataClientOperationsBundle.pdf.negative_vat"|trans() %}
<table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td class="o_title">A04-283-I</td>
        <td class="o_value">2,10%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">2,10%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">5,50%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">5,50%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">7,00%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">7,00%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">19,60%</td>
        <td class="o_nett">0</td>
        <td class="o_tva">0</td>
    </tr>
    <tr>
        <td class="o_title">&nbsp;</td>
        <td class="o_value">19,60%</td>
        <td class="o_nett">{{ nn }}</td>
        <td class="o_tva">{{ nv }}</td>
    </tr>
    </tbody>
</table>