{% set nn = "ApplicationSonataClientOperationsBundle.pdf.negative_nett"|trans() %}
{% set nv = "ApplicationSonataClientOperationsBundle.pdf.negative_vat"|trans() %}
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th colspan="4">{{ "ApplicationSonataClientOperationsBundle.pdf.vat_purchases"|trans() }} ({{ "ApplicationSonataClientOperationsBundle.pdf.period_this_month"|trans() }})</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="i_title">A02-TVA</td>
        <td class="i_value">2,10%</td>
        <td class="i_nett">0</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="i_title">A08-IM</td>
        <td class="i_value">2,10%</td>
        <td class="i_nett">{{ nn }}</td>
        <td class="i_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">5,50%</td>
        <td class="i_nett">0</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">5,50%</td>
        <td class="i_nett">{{ nn }}</td>
        <td class="i_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">7,00%</td>
        <td class="i_nett">0</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">7,00%</td>
        <td class="i_nett">{{ nn }}</td>
        <td class="i_tva">{{ nv }}</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">19,60%</td>
        <td class="i_nett">0</td>
        <td class="i_tva">0</td>
    </tr>
    <tr>
        <td class="i_title">&nbsp;</td>
        <td class="i_value">19,60%</td>
        <td class="i_nett">{{ nn }}</td>
        <td class="i_tva">{{ nv }}</td>
    </tr>
    </tbody>
</table>
